.voteStats{
  text-align: center;
  margin-top: 20px;
}

.positive{
  color: green;
}

.negative{
  color: red;
}

md-card > h4{
  font-weight: normal;
}

.ratioCard{
  cursor: pointer;
}

.pseudo{
  font-weight: bold;
}
