<div class="lock-size">
  <md-fab-speed-dial md-direction="down">
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-warn">
        <md-icon md-svg-src="images/menu.svg"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-fab-actions>
      <md-button ng-click="firstButton()" aria-label="twitter" class="md-fab md-raised md-mini">
        <md-icon md-svg-src="images/chart.svg" style="color:rgba(0,0,0,0.54);"></md-icon>
      </md-button>
      <md-button ng-click="secondButton()" aria-label="facebook" class="md-fab md-raised md-mini">
        <md-icon md-svg-src="images/vote.svg" style="color:rgba(0,0,0,0.54);"></md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</div>
