<div class="lock-size">
  <md-fab-speed-dial md-direction="down">
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-warn">
        <md-icon md-svg-src="images/menu.svg"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-fab-actions>
      <md-button ng-click="pieButton()" aria-label="pie" class="md-fab md-raised md-mini">
        <md-icon md-svg-src="images/chart-pie.svg" style="color:rgba(0,0,0,0.54);"></md-icon>
      </md-button>
      <md-button ng-click="lineButton()" aria-label="line" class="md-fab md-raised md-mini">
        <md-icon md-svg-src="images/chart-line.svg" style="color:rgba(0,0,0,0.54);"></md-icon>
      </md-button>
      <md-button ng-click="voteButton()" aria-label="vote" class="md-fab md-raised md-mini">
        <md-icon md-svg-src="images/vote.svg" style="color:rgba(0,0,0,0.54);"></md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</div>
